@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 40s linear infinite;
}

.pause-on-hover:hover .animate-scroll-left,
.pause-on-hover:hover .animate-scroll-right {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Offset for the fixed navbar height */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), ui-sans-serif, system-ui, sans-serif;
}